@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.fontFamily,
.destination,
.navoi-map-text,
.day-para,
.up-class,
.our-clients,
.experents,
.subscribe,
.packages,
.interactive-map {
  font-family: "Italiana", serif;
}
.leaflet-container {
  position: relative;
  width: 100%;
  height: 90vh;
  z-index: 19;
}
.leaflet-touch .leaflet-bar {
  position: absolute;
  top: 40vh;
}

.markerClusterSmall {
  border-radius: 20px;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 900;
  font-family: Open Sans;
  text-transform: uppercase;
}
.markerClusterMedium {
  border-radius: 40px;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 900;
  font-family: Open Sans;
  text-transform: uppercase;
}
.markerClusterLarge {
  border-radius: 70px;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 900;
  font-family: Open Sans;
  text-transform: uppercase;
}
.markerClusterLargeXL {
  border-radius: 70px;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 900;
  font-family: Open Sans;
  text-transform: uppercase;
}
.markerClusterLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #9e9e9e;
}

.sub-menu:hover.sub-image {
  animation-name: op;
  animation-duration: 2s;
  animation-direction: reverse;
}
@keyframes op {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.place:hover .circle {
  opacity: 1;
}
